body {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    background: white;
}
table th, table td {
    text-align: left;
    padding: 5px 10px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
table th {
    border-bottom: none;
    border-color: #37A5C0;
    white-space: nowrap;
    padding-right: 5px;
}
table td:nth-child(2),
table td:nth-child(6),
table td:nth-child(7) {
    white-space: nowrap;
}
input[type=text] {
    border-color: #ccc;
}
input[type=text]:focus {
    border-color: #999;
}
.mr {
    margin-right: 20px;
}
.header {
    background: white;
}
.loaded .header {
    border: none;
}
.gh-buttons {
    margin-top: 4px;
}
body {
    background: #ddd;
}
th.sort-header {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
table th.sort-header:after {
    content: '';
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 2px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
}
table th.sort-header:hover:after {
    visibility: visible;
}
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
    visibility: visible;
    opacity: 0.4;
}
table th.sort-up:after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

#repos, .filters {
    display: none;
}
.loaded #repos {
    display: table;
}
.loaded .filters {
    display: block;
}
